@import "../../Element/color/color.css";
@import "../../Element/font/font.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
}
.home__container{
    width: 100vw;
    height: 500vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr repeat(6,2.5fr) 2.5fr repeat(3,1.5fr) 3fr;
    grid-template-areas:
            "header"
            "home--title"
            "home--img1"
            "home--img2"
            "home--img3"
            "home--img4"
            "home--img5"
            "home--img6"
            "home--dec"
            "can--Design"
            "can--Motion"
            "can--Strategy"
            "fotter"
;
    align-items: center;
    justify-items: center;
}
.header{
    grid-area: header;
    width: 100%;
    text-decoration: none;
    list-style: none;
    position:sticky;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}
.header a{
    text-decoration: none;
}
.header li{
    list-style: none;
}
.header--style{
    border-bottom: 1px solid #E2E8F0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav--item {
    margin-left: 4rem;
}
.nav--link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}
.nav--link:hover{
    color: #482ff7;
}
.nav--logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}
@media only screen and (max-width: 768px) {
    .nav--menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-items: flex-start;
        transition: 0.3s;
        box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav--menu.active {
        left: 0;
    }
    .nav--item {
        margin: 1rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
.home--title{
    grid-area: home--title;
    background: #fff226;
    font-family: "Encode Sans",sans-serif;
    width: 100%;
    padding-bottom: 150px;
    padding-top: 120px;
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}
.title--style{
    color: #b8ad00;
}
.title--dec{
    font-family: "Encode Sans",sans-serif;
    font-size: var(--small-fontsize);
}
.home--img1{
    grid-area: home--img1;
    position: relative;
    margin-top: -4rem;
    width: 80%;
}
.father{
    overflow: hidden;
}
.home--img2{
    grid-area: home--img2;
    position: relative;
    width: 80%;
}
.home--img3{
    grid-area: home--img3;
    position: relative;
    width: 80%;
}
.home--img4{
    grid-area: home--img4;
    position: relative;
    width: 80%;
}
.home--img5{
    grid-area: home--img5;
    position: relative;
    width: 80%;
}
.home--img6{
    grid-area: home--img6;
    position: relative;
    width: 80%;
}
.img--style{
    width: 100%;
    height: auto;
}
.wrap{
    transition: all 2s;
}
.father:hover .wrap{
    transform: scale(1.1);
}
.home--dec{
    grid-area: home--dec;
    font-family: "Encode Sans",sans-serif;
    font-size: var(--small-fontsize);
    line-height: 2.5rem;
    padding-bottom: 2rem;
    width: 80%;
}
.home--dec a{
    text-decoration: underline;
}
.home--can{
    font-family: "Encode Sans",sans-serif;
    font-size: 1rem;
    color: var(--grey-color);
    margin: 2rem 0;
}
.can--Design{
    grid-area: can--Design;
    margin: 1rem 0;
    width: 80%;
}
.can--style{
    font-family: "Encode Sans", sans-serif;
    font-size: 1rem;
    color: var(--grey-color);
}
.can__underline{
    margin: 1rem 0;
}
.paragragh{
    font-family: "Lora", Helvetica, Arial, sans-serif;
    font-size: var(--verysmall-fontsize);
}
.can--Motion{
    grid-area: can--Motion;
    margin: 1rem 0;
    width: 80%;
}
.can--Strategy{
    grid-area: can--Strategy;
    margin: 1rem 0;
    width: 80%;
}
.overlay{
    position: absolute;
    cursor: pointer;
    color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.father:hover .img1{
    opacity: 0.8;
    background-color: rgb(0,0,0);
}
.img2:hover{
    opacity: 0.8;
    background-color: rgb(255,4,55);
}
.img3:hover{
    opacity: 0.8;
    background-color: rgb(228,157,51);
}
.img4:hover{
    opacity: 0.8;
    background-color: rgb(57,97,143);
}
.img5:hover{
    opacity: 0.8;
    background-color: rgb(0,0,0);
}
.img6b{
    position: absolute;
    cursor: pointer;
    color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 99.5%;
}
.img6b:hover {
    opacity: 1;
}
.c{
    padding-bottom: 110px;
    padding-top: 120px;
}
.p{
    padding-bottom: 40px;
}
.p2{
    padding-bottom: 100px;
}
.d{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.e{
    text-align: center;
}
.f{
    color: #fff226;
}
.fotter{
    grid-area: fotter;
    width: 80%;
}
.button--style{
    outline: none;
    border: none;
    background-color: #fff;
    width: 11rem;
    height: 2.75rem;
    margin-top: 2rem;
    vertical-align: middle;
}
.button--docs{
    width: 12px;
    margin-left: 1rem;
}


